label{
    display: block;
    padding: 10px;
}
form{
    text-align: center;
    background-color: rgb(104, 180, 231);
    margin: 0px 400px 0px 400px;
}
h1{
    text-align: center;
}
#submit{
    padding: 10px;
}
input[type=submit]:hover{
    background-color:rgb(238, 12, 49);
}
